* {
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  display: grid;
  grid-template:
    "header header header" 30px
    "left-nav main right-nav" 1fr /
    100px 1fr 100px;

  height: 100vh;
}

.header {
  grid-area: header;
  background-color: rgba(255, 0, 0, 1);
}

.left-nav {
  grid-area: left-nav;
  background-color: rgba(255, 0, 0, 0.4);
}

.main {
  grid-area: main;
  background-color: rgba(255, 0, 0, 0.6);
}

.right-nav {
  grid-area: right-nav;
  background-color: rgba(255, 0, 0, 0.4);
}

@media screen and (max-width: 700px) {
  .container {
    display: grid;
    grid-template:
      "header header" 30px
      "left-nav main" 1fr /
      100px 1fr;
  }
  .right-nav {
    display: none;
  }
}
